html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-container {
  min-height: 66%;
  /* background-image: url('front.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto; */
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-88%);
  -moz-transform: translateX(-50%) translateY(-88%);
  -webkit-transform: translateX(-50%) translateY(-88%);
  transform: translate(-50%, -80%);
  height: 100%;
  width: 242.5vh;
  min-width: 100%;
  min-height: 6vw;
}

.img-container-r {
  min-height: 66%;
  background-image: url('research.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-p {
  min-height: 66%;
  background-image: url('pubs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-t {
  min-height: 33%;
  background-image: url('gps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-f {
  min-height: 66%;
  background-image: url('fieldwork.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-d {
  min-height: 33%;
  background-image: url('gps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 33%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-gmsl {
  min-height: 33%;
  background-image: url('gmsl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 50%;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

.img-container-c {
  height: 1%;
  background-color: #222222;
  width: 100%;
  display: table;
  overflow: hidden;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
}

body {
  position: relative;
  font: 1em Helvetica, sans-serif;
  color: #1A171B;
  text-align: center;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  color: #CCCCCC
}

.info a:hover {
  color: #1A171B
}

.photostrip {
  margin-bottom: 2%;
  margin-top: 0%;
}

#strip {
  margin-left: 1%;
  margin-right: 1%;
  max-width: 22.5%;
}

.description {
  height: 66%;
  font-size: 4em;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  display: table-row;
  vertical-align: middle;
  text-shadow: -1px 0 #222222, 0 1px #222222, 1px 0 #222222, 0 -1px #222222;
}

.navdescription {
  float: left;
  font-size: 2em;
  font-weight:bold;
  color: #FFFFFF;
  vertical-align: middle;
  text-shadow: -1px 0 #222222, 0 1px #222222, 1px 0 #222222, 0 -1px #222222;
}

.description i {
  font-size: .35em;
  font-weight: 100;
}

.info {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  line-height: 2em;
  overflow: hidden;
}

.info header {
  text-align: left;
  font-weight: 700;
  letter-spacing: .2em;
  font-size: 1.5em;
  margin-bottom: 2%;
  margin-top: 2%;
}

.info header i {
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0em;
}

.papers {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  line-height: 1.5em;
}

.papers header {
  text-align: left;
  font-weight: 700;
  letter-spacing: .2em;
  font-size: 1.5em;
  margin-bottom: 2%;
  margin-top: 2%;
}

.info a {
  color: #1A171B;
}

.info img {
  align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 17%;
  margin-right: 17%;
  width: 66%;
  height: auto;
}

#profile {
  float: right;
  max-width: 30%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 0%;
  "

}

#profile2 {
  float: right;
  max-width: 25%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 0%;
  "

}

#profile3 {
  float: left;
  max-width: 25%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 2%;
  "

}

p, section ul {
  margin-bottom: 1.333em;
}

p {
  margin-bottom: .5em;
}

nav {
  float: left;
  font-size: 1.0em;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: .5%;
}

nav a {
  float: left;
  margin-left: 24px;
  margin-top: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  height: 15%;
  width: 100%;
  display: table;
  overflow: hidden;
  background-color: #444444;
}

.footer p {
  height: 100%;
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.base {
  height: 10%;
  width: 100%;
  display: table;
  overflow: hidden;
  background-color: #222222;
}

.base p {
  height: 100%;
  font-size: 1em;
  color: #EEEEEE;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 200;
}

.info a {
  color: #268bd2;
  font-weight: 600;
}

#logo {
  float: left;
  margin: .1% 44px 1% 1%;
}
